Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario004-standalone, tripleo-validations-centos-7-molecule-controller-token, tripleo-validations-centos-7-molecule-controller-ulimits, tripleo-validations-centos-7-molecule-ctlplane-ip-range, tripleo-validations-centos-7-molecule-dns, tripleo-validations-centos-7-molecule-haproxy, tripleo-validations-centos-7-molecule-repos, tripleo-validations-centos-7-molecule-undercloud-cpu, tripleo-validations-centos-7-molecule-undercloud-ram, tripleo-validations-centos-7-molecule-undercloud-debug, tripleo-validations-centos-7-molecule-undercloud-disk-space, tripleo-validations-centos-7-molecule-xfs-check-ftype, tripleo-validations-centos-7-molecule-no-op-firewall-nova-driver

Path conditions:
  tripleo-ci-centos-7-scenario004-standalone: any of: ^roles/ceph.*$
  tripleo-validations-centos-7-molecule-controller-token: any of: ^roles/controller-token/.*
  tripleo-validations-centos-7-molecule-controller-ulimits: any of: ^roles/controller-ulimits/.*
  tripleo-validations-centos-7-molecule-ctlplane-ip-range: any of: ^roles/ctlplane-ip-range/.*
  tripleo-validations-centos-7-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-7-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-7-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-7-molecule-undercloud-cpu: any of: ^roles/undercloud-cpu/.*
  tripleo-validations-centos-7-molecule-undercloud-ram: any of: ^roles/undercloud-ram/.*
  tripleo-validations-centos-7-molecule-undercloud-debug: any of: ^roles/undercloud-debug/.*
  tripleo-validations-centos-7-molecule-undercloud-disk-space: any of: ^roles/undercloud-disk-space/.*
  tripleo-validations-centos-7-molecule-xfs-check-ftype: any of: ^roles/xfs-check-ftype/.*
  tripleo-validations-centos-7-molecule-no-op-firewall-nova-driver: any of: ^roles/no-op-firewall-nova-driver/.*

Add groups.yaml containing Validation Groups definition
  groups.yaml
  setup.cfg
Due: none

Rename custom "ini" module to "validations_read_ini"
  doc/source/modules/modules-ini.rst
  doc/source/modules/modules-validations_read_ini.rst
  library/validations_read_ini.py
  roles/ceilometerdb-size/tasks/main.yml
  roles/check-network-gateway/tasks/main.yml
  roles/container-status/tasks/main.yaml
  roles/controller-token/tasks/main.yml
  roles/ctlplane-ip-range/tasks/main.yml
  roles/dhcp-validations/tasks/dhcp-introspection.yaml
  roles/dhcp-validations/tasks/dhcp-provisioning.yaml
  roles/image-serve/tasks/main.yaml
  roles/neutron-sanity-check/tasks/main.yml
  roles/no-op-firewall-nova-driver/tasks/main.yml
  roles/node-disks/tasks/main.yml
  roles/nova-event-callback/tasks/main.yml
  roles/switch-vlans/tasks/main.yml
  roles/tls-everywhere/tasks/common.yaml
  roles/tls-everywhere/tasks/pre-deployment-containerized.yaml
  roles/tls-everywhere/tasks/pre-deployment-non-containerized.yaml
  roles/tls-everywhere/tasks/pre-deployment.yaml
  roles/tls-everywhere/tasks/prep.yaml
  roles/undercloud-debug/README.md
  roles/undercloud-debug/tasks/main.yml
  roles/undercloud-heat-purge-deleted/tasks/main.yml
  roles/undercloud-process-count/tasks/main.yml
  roles/undercloud-tokenflush/tasks/main.yml
  tripleo_validations/tests/library/test_validations_read_ini.py
Due: tripleo-validations-centos-7-molecule-controller-token, tripleo-validations-centos-7-molecule-ctlplane-ip-range, tripleo-validations-centos-7-molecule-undercloud-debug, tripleo-validations-centos-7-molecule-no-op-firewall-nova-driver

Sync 'validations/library/ini.py' with the validations framework
  validations/ctlplane-ip-range.yaml
  validations/library/ini.py
Due: none

Removed workaround for ansible-lint issue
  .pre-commit-config.yaml
  tox.ini
Due: none

Add new validation_json callback
  callback_plugins/validation_json.py
Due: none

Add an additional validation to check ceph-ansible repository
  playbooks/ceph-ansible-installed.yaml
  roles/ceph/defaults/main.yml
  roles/ceph/tasks/ceph-ansible-installed.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Add a validation to fail if a Ceph dependency is not installed
  playbooks/ceph-dependencies-installed.yaml
  roles/ceph/defaults/main.yml
  roles/ceph/tasks/ceph-dependencies-installed.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Remove the useless environment variable.
  tox.ini
Due: none

Introduce Ceph placement group validation
  doc/source/modules/modules-ceph_pools_pg_protection.rst
  library/ceph_pools_pg_protection.py
  playbooks/ceph-pg.yaml
  roles/ceph/tasks/ceph-pg.yaml
  tripleo_validations/tests/library/test_ceph_pools_pg_protection.py
Due: tripleo-ci-centos-7-scenario004-standalone

Fix upper and lower constraints
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: none

New validation: validate-selinux
  doc/source/roles/role-validate-selinux.rst
  playbooks/validate-selinux.yaml
  roles/validate-selinux/defaults/main.yml
  roles/validate-selinux/handlers/main.yml
  roles/validate-selinux/molecule/default/Dockerfile
  roles/validate-selinux/molecule/default/molecule.yml
  roles/validate-selinux/molecule/default/playbook.yml
  roles/validate-selinux/molecule/default/prepare.yml
  roles/validate-selinux/molecule/default/verify.yml
  roles/validate-selinux/tasks/main.yml
  roles/validate-selinux/templates/skip-list.j2
  roles/validate-selinux/vars/main.yml
  zuul.d/molecule.yaml
Due: none

Avoid failure if dhcp_end or dhcp_start isn't set
  library/ini.py
  roles/ctlplane-ip-range/tasks/main.yml
  tripleo_validations/tests/library/test_ini.py
Due: tripleo-validations-centos-7-molecule-ctlplane-ip-range

Fix ceph-ansible repo check
  roles/ceph/tasks/ceph-ansible-installed.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Ceph PG validation unit shouldn't depend on dict order
  tripleo_validations/tests/library/test_ceph_pools_pg_protection.py
Due: none

Add pre/post ceph validation groups
  groups.yaml
  playbooks/ceph-ansible-installed.yaml
  playbooks/ceph-dependencies-installed.yaml
  playbooks/ceph-health.yaml
  playbooks/ceph-pg.yaml
Due: none

Remove default ansible option in test runs
  zuul.d/playbooks/run.yml
Due: none

Adds basic molecule testing for ceph validations
  roles/ceph/molecule/ceph-ansible-installed/Dockerfile.j2
  roles/ceph/molecule/ceph-ansible-installed/molecule.yml
  roles/ceph/molecule/ceph-ansible-installed/playbook.yml
  roles/ceph/molecule/ceph-ansible-installed/prepare.yml
  roles/ceph/molecule/default/Dockerfile.j2
  roles/ceph/molecule/default/molecule.yml
  roles/ceph/molecule/default/playbook.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Normalize role names when generating roles
  role-addition.yml
Due: none

Stop testing python2.7
  setup.cfg
  tox.ini
  zuul.d/layout.yaml
Due: none

Use ansible-lint == 3.5.1 for stable/queens
  tox.ini
Due: none

Sync 'validations/ceph-ansible-installed.yaml' with the new role
  validations/ceph-ansible-installed.yaml
Due: none

Sync 'validations/ceph-dependencies-installed.yaml' with the new role
  validations/ceph-dependencies-installed.yaml
Due: none

Fix role-addition.yaml automation playbook
  role-addition.yml
Due: none
